<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fise.xw"
    android:versionCode="1"
    android:versionName="1.0.1" >

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name=".app.IMApplication"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@android:style/Theme.NoTitleBar" >
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="80575a88e4b68c93957b0ef5bc3e4519" />

        <activity
            android:name=".ui.activity.MessageActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged|adjustPan" >
        </activity>
        <activity
            android:name=".ui.activity.MessageSearchActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.GuideActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.CardFriednsActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.MediaPlayerActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.WebViewActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.DeviceFollowActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.SettingMessageBgActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.SelectMessageBgActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.LoginProtectionActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.GroupQRActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.GroupNoticeActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.ElectronicActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.UpdateAppActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.HistoryTrackActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.GroupSelectActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.WeiGroupSelectActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.RegistActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.MessageBgActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.RegistActivityName"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.ReqFriendsActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.ReqWeiFriendsActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.BlackListActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.LoginInfoNickName"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.ProvinceListActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.CityListActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.SettingPrivacyActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.FamilyFollowActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.RegistActivityVerify"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.HelpActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.GroupNameActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.WarningActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.WhiteListActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.ContactFragmentActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:label="@string/contact_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.ShowSettingActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:label="@string/contact_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.AccountSecurityActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:label="@string/contact_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.AboutActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:label="@string/contact_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.CurrencyActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:label="@string/contact_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.MessageNotifyActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:label="@string/contact_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.GroupFriendsActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:label="@string/contact_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.SearchFriednsActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:label="@string/contact_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.DeviceInfoActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.DeviceInfoSettingActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.UserInfoSigned"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.EmailActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.RealTimeInfoActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <service
            android:name=".imservice.service.IMService"
            android:exported="false" >
        </service>
        <service android:name=".imservice.service.LocalService" />
        <service android:name=".imservice.service.LoadImageService" />
        <service android:name=".imservice.service.AvatarImageService" />
        <service android:name=".imservice.service.LoadVedioService" />

        <activity
            android:name=".ui.activity.PickPhotoActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.ImageGridActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.PreviewActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.PreviewTextActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.PreviewHeadActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.PreviewGifActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.PhoneFriendsActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.FriendsSelectActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.EmergencyActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.LoginInfoSex"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.LoginInfoSigned"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.ActivityLoginInfo"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.SettingTypefaceActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.UserInfoFollowActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.UserInfoActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.AddDeviceActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.NickNameActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!--
        <activity
            android:name=".ui.activity.SettingPhoneActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        -->
        <activity
            android:name=".ui.activity.AddFriendActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.LoadingActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.AuthSelectActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.PostionTouchActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.NewFriendActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.GroupListActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.DeviceActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.DeviceListActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.WeiGroupListActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.WeiFriendsActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.AccountProtectionActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.ClipPictureActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.AvatarActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.BlackPassName"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.ScanGroupQRActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.HistoryQueryActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.BlackSmsActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.GroupManagermentActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.VedioActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.MessageBgQueActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.GroupMemberSelectActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name=".ui.activity.SettingActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.UserInfoRemarks"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.ElectronicListActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.PhoneInfoActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.SearchActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.DeviceInfoBells"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.SearchMessageActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.InfoQRActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.ActivityReqVerification"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.MessagePostionActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.WebViewFragmentActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="com.fise.xw" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.DetailPortraitActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.HeadPortraitActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.VideoPlayActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.BlackListInfoActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.PassActivityVerify"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.DevicePhoneActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.SelectGroupListActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.MyListView"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.CameraActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.PreviewMessageImagesActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.DeviceWorkingMode"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.jinlin.zxing.example.activity.CaptureActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.photoselector.ui.PhotoSelectorActivity"
            android:label="图片选择" >
        </activity>
        <activity
            android:name="com.photoselector.ui.PhotoPreviewActivity"
            android:label="图片预览" >
        </activity>

        <service android:name="com.amap.api.location.APSService" >
        </service>

        <activity
            android:name=".HosterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".GuestActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>